<div class="card">
	<div class="card--header">
		<h4 class="header--title">User Profile</h4>
	</div>
	<div class="card--content">
		<span class="profile--title">My Profile Details</span>
		<div class="profile-data">
			<div class="row justify-content-around text-center mt-4">
				<div class="col-4">
					<span class="profile-data__title">Name:</span>
					<h3 class="profile-data__detail">John Dee</h3>
				</div>
				<div class="col-4">
					<span class="profile-data__title">Username</span>
					<h3 class="profile-data__detail">Johndee223</h3>
				</div>
				<div class="col-4">
					<span class="profile-data__title">Age</span>
					<h3 class="profile-data__detail">20</h3>
				</div>
				<div class="col-6">
					<span class="profile-data__title">Gender</span>
					<h3 class="profile-data__detail">Male</h3>
				</div>
				<div class="col-6">
					<span class="profile-data__title">Date of Birth</span>
					<h3 class="profile-data__detail">06/28/1997</h3>
				</div>
				<div class="col-6">
					<span class="profile-data__title">Password</span>
					<h3 class="profile-data__detail">********</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="card--footer center-block">
		<button type="button" class="btn btn-blue"> Edit Details</button>
	</div>
</div>
