@mixin wildcard-transition() {
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  /* ...and now for the proper property */
  transition: 0.5s;
}

@mixin transparent-input() {
  background-color: rgba(255, 255, 255, 0.2);
  color: $white;
  border-color: transparent;

  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 none;
  }

  &::-webkit-input-placeholder {
    color: $white;
  }

  &:-ms-input-placeholder {
    color: $white;
  }

  &::-ms-input-placeholder {
    color: $white;
  }

  &::placeholder {
    color: $white;
  }
}

@mixin light-link() {
  @include wildcard-transition();

  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;

  &:visited {
    color: rgba(255, 255, 255, 0.9);
  }

  &:hover,
  &:active {
    color: rgba(255, 255, 255, 1);
  }
}

@mixin light-main-header() {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.6rem;
  margin-bottom: 20px;
  text-align: center;
}

@mixin light-transparent-button() {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
