/*Standards*/
$sidebar-width: 260px;

/*Logo Colors*/
$logo-blue: #275999;
$logo-green: #96c21b;
$second-blue: #316cb4;
$second-green: #71974a;

/*Other Colors*/
$dark-blue: #212328;
$light-blue: #2a8aff;
$error-red: #fb404b;

/*Box Shadows*/
$line-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
$light-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$mild-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$heavy-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

/*Form placeholder color*/
$grey-blue: #5f6b7a;
