@import "ember-cli-bootstrap-4/bootstrap";
@import "variables";
@import "mixins";

@import "components/site-navigation";
@import "components/login-form";
@import "components/sidebar-navigation";
@import "components/user-profile-view";


.all-wrapper{
  position: relative;
  height: 100vh;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-content{
  position: relative;
  background: #f5f5f5;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: calc(100% - 260px);
  }
}

.page-placeholder {
  height: 600px;
  background-color: white;
  text-align: center;
  font-size: 36px;
  color: #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  webkit-box-shadow: $line-shadow;
  -webkit-box-shadow: $line-shadow;
          box-shadow: $line-shadow;
}
.page-card{
  padding: 1em;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  webkit-box-shadow: $line-shadow;
  -webkit-box-shadow: $line-shadow;
          box-shadow: $line-shadow;

  .header--title{
    margin: 0.5em 0.5em 2em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #dedede;
    color: #2d2d2d;
  }
}

html, body, body > .ember-view {
  width: 100%;
  height: 100%;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: .9rem;
  background-color: #f3f3f3;
}
.img-responsive{
  max-width: 100%;
  height: auto;
  display: block;
}
.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 2em 1.45em;
}

.page-module {
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 7px 7px 24px -13px rgba(26,26,26,0.9);
  box-shadow: 7px 7px 24px -13px rgba(26,26,26,0.9);

  & > table {
    margin-bottom: 0;
  }
}
.input-group-addon{background: #fff; color: $second-blue;}
.loading__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading__icon-container {
  margin: calc(50% - 14px) auto 0 auto;
  text-align: center;
}

.loading__icon {
  color: white;
}
/*Important star*/
.star{
  color: $error-red;
  padding-left: 5px;
}
/*button style*/
.btn-card,
.btn-blue{
  cursor: pointer;
  padding: 0.375em 2em;
  background: $light-blue;
  color: #fff;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover{
    background: #0070f7;
  }
}
/*
** Action Colors **
*/
.profile{
  color: $logo-blue;
}
.edit{
  color: $logo-green;
}
.delete{
  color: $error-red;
}
/*
** Card Elements **
*/
.card {
  border-radius: 4px;
  -webkit-box-shadow: $line-shadow;
          box-shadow: $line-shadow;
  margin-bottom: 30px;
  border: none;
}
.card--header {
  padding: 1.5em 1em 0;
  color: #2d2d2d;

  .header--title{
    margin: 0;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #dedede;
    color: #2d2d2d;
  }
}
.card--content {
  padding: 1em 3em;
}
.card--footer {
  padding: 1em 0 2em;
  display: block;
  margin: 0 auto;
}
/*
** Form Elements **
*/
.hidden{display: $hidden;}
.form-label{
  color: #2d2d2d;
  font-size: 1.19em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  max-width: 100%;
}
.form-control {
  border: 1px solid #dedede;
  color: #2d2d2d;

  &:focus{
    border-color: $light-blue;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.form-check-input {
    position: absolute;
    left: -100vw;
}
.form-check-label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.7em;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #dedede;
    border-radius: 100%;
  }
  &::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #2a8aff;
    border-radius: 100%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }
}
.form-check-input:checked + .form-check-label::after{
  transform: scale(0.8);
}
/*
** Table Elements **
*/
.table thead th{
  border-top: none;
  color: #9a9a9a;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}
.btn-action {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover{
    opacity: 1;
  }
}
/*
** Modal Elements Styles**
*/

/*Yeild Style */
.yeild-symbol {
  position: relative;
  width: 6em;
  height: 6em;
  border: 4px solid #f8d486;
  border-radius: 50%;
  margin: 0 auto 2em;
}
.yeild-line {
  position: absolute;
  width: 4px;
  border-radius: 7px;
  height: 45px;
  background: #f8d486;
  left: 50%;
  top: 8px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.yeild-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f8d486;
  left: 50%;
  bottom: 12px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*Delete Modal*/
.btn-close,
.btn-comfirm{
  cursor: pointer;
  border-radius: 6px;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;

  &:hover{
    opacity: 1;
  }
}
.btn-comfirm{
  background: transparent;
  border: 1px solid $light-blue;
  color: $light-blue;
}
.btn-close{
  background: $error-red;
  border: 1px solid $error-red;
  color: #fff;
}
.modal-content{
  border-radius: 5px;
  border: none;

  h2{
    color: #575757;
    text-align: center;
  }
  .text-muted{
    color: #868e96;
    text-align: center;
    font-size: 1.3em;
  }
}
.modal-footer{
  border-top: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
#deleteModal{

}

/*
** Dashboard Items **
*/
.dashboard-item {
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border: 1px solid rgba(191, 191, 191, 0.6);
  background: #fff;
  padding: 2.5em 2em;
  width: 100%;
  margin: 0 0 3em;
  color: #2d2d2d;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover{
    -webkit-box-shadow: $heavy-shadow;
            box-shadow: $heavy-shadow;
    color: inherit;
    text-decoration: none;
  }
  &:hover .dashboard-item--icon{
    -webkit-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
            transform: translateY(-15%);
    -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.19);
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.19);
  }
}
.dashboard-item--icon {
  font-size: 2em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -0.6em;
  left: -0.3em;
  width: 56px;
  height: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
  background: $second-blue;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.dashboard-item--icon.green{
  background: $second-green;
}
.dashboard-item--title {
  display: block;
  font-size: 1.6em;
  text-align: center;
}
