@import "ember-cli-bootstrap-4/bootstrap";
@import "variables";
@import "mixins";

/**
 * Component Styles
**/
@import "components/site-navigation";
@import "components/login-form";
@import "components/sidebar-navigation";
@import "components/user-profile-view";
@import "components/multi-step-form";
@import "components/user-detail";
@import "ember-power-select";

/**
 * Layout Styles
**/
@import "layouts/layout-styles";

/**
 * Templates Styles
**/
@import "templates/dashboard-template";
@import "templates/all-users-template";

/**
 * Element Styles
**/
@import "elements/general-styles";
@import "elements/card-styles";
@import "elements/form-styles";
@import "elements/buttons-styles";
@import "elements/modal-styles";
@import "elements/tables-styles";

.ember-power-select-trigger{
	border: 1px solid #eeeeef !important;
	color: #2d2d2d !important;
	border-radius: 3px !important;
	background: rgba(238, 238, 239, 0.7) !important;
	transition: all 0.3s ease !important;
	height: calc(2.25rem + 2px) !important;
	display: block !important;
	width: 100% !important;
	padding: 0.375rem 0.75rem !important;
	font-size: 1rem !important;
	line-height: 1.5 !important;
	cursor: pointer;

	&:focus{
		border-color: #f1f1f1 !important;
    background-color: #f1f1f1 !important;
    box-shadow: 0px 1px 4px 0 rgba(112, 112, 112, 0.51) !important;
    outline: none !important;
	}
}

.select-filter{
	position: relative;

	.options {
		position: absolute;
		width: 100%;
		top: 100%;
		background: #fff;
		z-index: 1;
		max-height: 20vh;
		overflow-y: scroll;
		display: none;
		border: 1px solid #dedede;
		margin-bottom: 1em;
		-webkit-box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
		        box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
		border-color: #2a8aff;
	}
}
.search-input:focus + .options {
	display: block !important;
}
.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-list--item{
	border-bottom: 1px solid #dedede;
  padding: 0.5em 1em;
  cursor: pointer;

	&:hover{
		background: #2a8aff;
    color: #fff;
	}
}

@import "ember-power-select";
