@import "ember-cli-bootstrap-4/bootstrap";
@import "variables";
@import "mixins";

/**
 * Component Styles
**/
@import "components/site-navigation";
@import "components/login-form";
@import "components/sidebar-navigation";
@import "components/user-profile-view";
@import "components/multi-step-form";
@import "components/user-detail";

/**
 * Layout Styles
**/
@import "layouts/layout-styles";

/**
 * Templates Styles
**/
@import "templates/dashboard-template";
@import "templates/all-users-template";

/**
 * Element Styles
**/
@import "elements/general-styles";
@import "elements/card-styles";
@import "elements/form-styles";
@import "elements/buttons-styles";
@import "elements/modal-styles";
@import "elements/tables-styles";

.select-filter{
	position: relative;

	.options {
		position: absolute;
		width: 100%;
		top: 100%;
		background: #fff;
		z-index: 1;
		max-height: 20vh;
		overflow-y: scroll;
		display: none;
		border: 1px solid #dedede;
		margin-bottom: 1em;
		box-shadow: 0 2px 3px 0 rgba(34,36,38,.15);
		border-color: #2a8aff;
	}
}
.search-input:focus + .options {
	display: block !important;
}
.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter-list--item{
	border-bottom: 1px solid #dedede;
  padding: 0.5em 1em;
  cursor: pointer;

	&:hover{
		background: #2a8aff;
    color: #fff;
	}
}
