/**
 * All Users Styles
**/
.single-detail {
  .single-detail--label {
    position: relative;
    display: block;
    color: #1c1c1c;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
  }
  .single-detail--value {
    font-size: 1em;
    font-weight: 500;
    color: #181818;
  }
}
/**
 * Action Styles
**/
.btn-action {
  padding: 0 0.35em;
}
.profile {
  color: $logo-blue;
}
.edit {
  color: $logo-green;
}
.delete {
  color: $error-red;
}
