/**
 * Dashboard Styles
**/
.dashboard-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
  border: 1px solid rgba(191, 191, 191, 0.6);
  background: #fff;
  padding: 3em 2em;
  width: 100%;
  margin: 0 0 3em;
  color: #2d2d2d;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  -o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover{
    -webkit-box-shadow: $heavy-shadow;
            box-shadow: $heavy-shadow;
    color: inherit;
    text-decoration: none;
  }
  &:hover .dashboard-item--icon{
    -webkit-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
            transform: translateY(-15%);
    -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.19);
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.19);
  }

  @media screen and (max-width: 1024px) {
    padding: 3em 1em;
  }
}
.dashboard-item--icon {
  font-size: 2em;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -0.6em;
  left: -0.3em;
  width: 56px;
  height: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f8f8f8;
  background: $second-blue;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.dashboard-item--icon.green{
  background: $second-green;
}
.dashboard-item--title {
  display: block;
  font-size: 1.6em;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 1.23em;
  }
}
