.form-step--item{
  will-change: transform opacity;
  .form-control.invalid{
    border-color: #dc3545;
    -webkit-box-shadow: 0 0 3px 2px rgba(220,53,69,.25);
            box-shadow: 0 0 3px 2px rgba(220,53,69,.25);
  }
}
.form-step--item.active{
  will-change: transform opacity;
  -webkit-animation: fadeIn 0.67s ease;
          animation: fadeIn 0.67s ease;
  display: block;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
@-webkit-keyframes fadeIn {
  0%{
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-6%);
            transform: translateX(-6%);
  }
  60%{
    opacity: 0.65;
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeIn {
  0%{
    display: block;
    opacity: 0;
    -webkit-transform: translateX(-6%);
            transform: translateX(-6%);
  }
  60%{
    opacity: 0.65;
  }
  100%{
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.form-step--btn{

  &:hover{
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}
#prev{
  background: rgba(42, 138, 255, 0.54);
}
.form-table{
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.form-title{
  position: relative;
  display: block;
  font-size: 1.42em;
  color: rgb(115, 118, 122);
  text-transform: uppercase;
  padding-bottom: 0.75em;
}
.light-underline{

  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #f3f3f3;
  }
}
.if-yes{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
}
span.mute-label {
  display: block;
  color: #888;
  font-size: 0.98em;
}
