.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #f1f1f1;
  background: $dark-blue;
  transform: translateX(-100%);
  @media screen and (min-width: 769px) {
    transform: translateX(0%);
  }
}
.sidebar-brand{
  position: relative;
  padding: 5px 1.8em;

  .sidebar-brand__link{
    position: relative;
    width: 8.5em;
    margin: 0 auto;
    display: block;
  }
}
.sidebar-wrapper{
  position: relative;
  height: calc(100vh - 5em);
  overflow: auto;
  width: 260px;
}
.sidebar-wrapper__nav{
  margin-top: 3em;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.sidebar-wrapper__nav-item{
  position: relative;
  display: block;

  &:hover{
    .sidebar-wrapper__link{
      opacity: 0.6;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &.abso{
    position: absolute;
    width: 100%;
    bottom: 10px;

    &:hover{
      .sidebar-wrapper__link{
        background: $logo-blue;
        opacity: 1;
      }
    }


  }
}
.sidebar-wrapper__nav-item.abso{
  &:hover{
    .sidebar-wrapper__link.logout{
      background: #8c2c26;
      opacity: 1;
    }
  }
}
.sidebar-wrapper__link{
  display: flex;
  align-items: center;
  color: #f1f1f1;
  padding: 1.5em 1em;
  margin: 1.5em 1em;
  opacity: 0.6;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover{
    color:inherit;
    text-decoration: none;
  }
  &.active{
    color:inherit;
    text-decoration: none;
    opacity: 1;
    background: rgba(255, 255, 255, 0.3);
    &:hover{
      opacity: 1;
    }
  }
  i.sidebar-wrapper__icon{
    font-size: 1.8em;
    margin-right: 1em;
  }
}
.sidebar-wrapper__link.login{
  background: $second-blue;
  opacity: 1;

  &:hover{
    background: $logo-blue;
  }
  &.active{
    background: $logo-blue;
  }
}

.sidebar-wrapper__link.logout{
  background: #b43831;
  opacity: 1;

  &:hover{
    background: #8c2c26;
  }
  &.active{
    background: #8c2c26;
  }
}
