.navigation-container{
  display: flex;
  width: 100%;

  @media screen and (max-width: 528px) {
    flex-flow: column;
  }
}
.site-navigation {
  background-color: $white;
  color: $logo-blue;
  width: 100%;
  display: flex;
  flex-flow: row;
  padding: 0 1.2em;
  border-bottom: 1px solid #dedede;

  @media screen and (max-width: 1024px) {
    padding: 0 1.2em 0 0;
  }
  @media screen and (max-width: 528px) {
    padding: 0;
  }
}
.site-navigation__title{
  display: block;
  position: relative;
  color: #777;
  font-size: 1.4em;
  align-self: center;
  margin: 0.7em auto 0;
  @include media-breakpoint-up(md){
    margin: 0 auto;
  }
}
.site-navigation__branding {
  font-size: 1.1rem;
  line-height: 50px;
  width: 9.7em !important;
  @include make-col-ready();
}

.site-navigation__search {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  vertical-align: text-top;

  .form-control{
    border: 1px solid #ced4da;

    &:focus{
      box-shadow: 1px 1px 2px rgba(133, 133, 133, 0.24),
      0 1px 2px rgba(158, 158, 158, 0.24);
    }
  }
  @media screen and (max-width: 528px) {
    margin-right: 0;
  }
}

.site-navigation__search-icon {
  position: absolute;
  left: 0;
  margin: 17px 10px;
}

.site-navigation__search-input {
  margin-top: 5px;
  text-indent: 20px;
  width: 100%;

  // Tablet
  @include media-breakpoint-up(md) {
    width: 250px;
  }

  // Tablet
  @include media-breakpoint-up(lg) {
    width: 20em;
  }
}

.site-navigation__actions {
  @include make-col-ready();
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  line-height: 50px;
  padding: 1em;
  text-align: right;

  @media screen and (max-width: 528px) {
    flex-flow: column;
  }
}

.site-navigation__links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  width: 20%;

  @media screen and (max-width: 768px){
    width: 100%;
  }
}

.site-navigation__link-item {
  &#{&} {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-navigation__link {
   color: $logo-blue;
   padding-bottom: 13px;
   transition: color 0.3s ease;

   &:hover, &.active {
    // border-bottom: 2px solid rgba(255, 255, 255, 0.8);
    color: $second-blue;
    text-decoration: none;
   }
 }

 .site-navigation__icon {
   font-size: 1.4em;
 }

 .site-navigation__dropdown-button {
   padding: 0;
   line-height: unset;
   border: none;
   color: $logo-blue;
   vertical-align: inherit;
   transition: color 0.3s ease;

   &:focus,
   &:active,
   &:hover {
     color: $second-blue;
     text-decoration: none;
     cursor: pointer;
   }

   &::after {
     border: none;
   }
 }

 .site-navigation__dropdown-menu  {
   padding: 0;
   right: 10px;

   &::after {
     position: absolute;
     top: -8px;
     right: 10px;
     display: inline-block;
     border-right: 8px solid transparent;
     border-bottom: 8px solid #ffffff;
     border-left: 8px solid transparent;
     content: '';
   }

   &::before {
    position: absolute;
    top: -9px;
    right: 9px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ccc;
    border-left: 9px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }
 }

 .site-navigation__dropdown-link {
   line-height: 25px;
   padding: 5px 10px;
   font-size: .9rem;
   color: #555;
   transition: background-color 0.3s ease;

   &.active,
   &:active,
   &:focus {
     background-color: $logo-blue;
   }
   &.active:hover{
     background-color: $second-blue;
   }
 }

.nav-btn{
  display: none;
  @media screen and (max-width: 1024px){
    position: relative;
    display: block;
    width: 10em;
    border-right: 1px solid #dedede;
    margin-right: 1.2em;
  }
  @media screen and (max-width: 528px){
    margin-right: 0.2em;
    width: 6em;
  }
}
.hamburger,
.hamburger::before,
.hamburger::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 10px;
  background: #333;
}

.hamburger {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::before{
    transform: translateY(-9px);
  }
  &::after{
    transform: translateY(9px);
  }
}
