.card {
  border-radius: 4px;
  -webkit-box-shadow: $line-shadow;
          box-shadow: $line-shadow;
  margin-bottom: 30px;
  border: none;
}
.card--header {
  padding: 1.5em 1em 0;
  color: #2d2d2d;

  .header--title{
    margin: 0;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #dedede;
    color: #2d2d2d;
  }
}
.card--content {
  padding: 1em 3em;
  overflow: hidden;

  @media screen and (max-width: 528px){
    padding: 1em 1.36em;
  }
}
.card--footer {
  padding: 1em 0 2em;
  display: block;
  margin: 0 auto;
}
