/**
 * General Form Styling
**/
.form-label{
  display: block;
  color: #2d2d2d;
  font-size: 1.19em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  max-width: 100%;
}
.sub-label{
  font-size: 1em !important;
  font-weight: 600 !important;
}
.form-control {
  border: 1px solid #eeeeef;
  color: #2d2d2d;
  border-radius: 3px;
  background: rgba(238, 238, 239, 0.7);
  transition: all 0.3s ease;

  &:focus{
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 4px 0 rgba(112, 112, 112, 0.51);
  }
}
.form-group.phone-number{
  border: 1px solid #eeeeef;
  padding: 0.375rem 0.75rem;
  width: 100%;
  background: rgba(238, 238, 239, 0.7);
  .form-control{
    background: transparent;
    border: none;
  }
}
.form-control.number{
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  width: 2em;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
}
.form-control.number.phone{
  width: 10em;
}
.form-check.inline-block{
  display: inline-block;
}
.form-check-input {
    position: absolute;
    left: -100vw;
}
.form-check-label {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.7em;

  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ababab;
    border-radius: 100%;
  }
  &::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #2a8aff;
    border-radius: 100%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
.form-check-input:checked + .form-check-label::after{
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.form-check-input:checked + .form-check-label::before{
  border-color: #2a8aff;
}
.input-group-text{
  background: #fff;
  color: #316cb4;
}
.input-group-addon{background: #fff; color: $second-blue;}
.form-check-label.box{
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(191, 191, 191, 0.6);
  background: #fff;
  padding: 2.5em 2em;
  margin: 0;
  text-align: center;
  width: 100%;
  color: #2d2d2d;
  border-radius: 3px;

  &::before{
    display: none;
  }
  &::after{
    border-radius: 0px;
    background: unset;
    opacity: 0;
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg) !important;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #2a8aff;
    border-top: 4px solid #2a8aff;
    display: block;
    left: 92%;
    top: 8%;
    width: 1.2em;
    height: 1.9em;
  }
}
.form-check-input:checked + .form-check-label.box::after{
  -webkit-animation: checkMarkBig 0.4s cubic-bezier(0.46, -0.14, 0.35, 1.19);
          animation: checkMarkBig 0.4s cubic-bezier(0.46, -0.14, 0.35, 1.19);
  opacity: 1;
}
@-webkit-keyframes checkMarkBig {
  0%{
    width: 0;
    height: 0;
  }
  50% {
    width: 1.2em;
    height: 0;
  }
  100% {
    width: 1.2em;
    height: 1.9em;
  }
}
@keyframes checkMarkBig {
  0%{
    width: 0;
    height: 0;
  }
  50% {
    width: 1.2em;
    height: 0;
  }
  100% {
    width: 1.2em;
    height: 1.9em;
  }
}
.form-check-label.checkbox{

  &::after{
    border-radius: 0px;
    background: unset;
    opacity: 0;
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg) !important;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 4px solid #2a8aff;
    border-top: 4px solid #2a8aff;
    display: block;
    left: 0;
    top: 0.5em;
    width: 0.7em;
    height: 1.3em;
  }
  &::before{
    border-radius: 0;
  }
}
.form-check-input:checked + .form-check-label.checkbox::after{
  -webkit-animation: checkMarkSmall 0.4s cubic-bezier(0.46, -0.14, 0.35, 1.19);
          animation: checkMarkSmall 0.4s cubic-bezier(0.46, -0.14, 0.35, 1.19);
  opacity: 1;
}
@-webkit-keyframes checkMarkSmall {
  0%{
    width: 0;
    height: 0;
  }
  50% {
    width: 0.7em;
    height: 0;
  }
  100% {
    width: 0.7em;
    height: 1.3em;
  }
}
@keyframes checkMarkSmall {
  0%{
    width: 0;
    height: 0;
  }
  50% {
    width: 0.7em;
    height: 0;
  }
  100% {
    width: 0.7em;
    height: 1.3em;
  }
}

/**
 * Search Form Styling
**/
.search-form {
  position: relative;
}
.search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  margin: 0 0.45em;
  color: #275999;
}
.search-input {
  text-indent: 0.86em;

	&:focus{
		box-shadow: 1px 1px 2px rgba(133, 133, 133, 0.24), 0 1px 2px rgba(158, 158, 158, 0.24) !important;
	}
}


/**
 * Important Star
**/
.star{
  color: $error-red;
  padding-left: 5px;
}
