.table thead th{
  border-top: none;
  color: #9a9a9a;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 13px;
}
.btn-action {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover{
    opacity: 1;
    text-decoration: none;
  }
}
.list-table{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}
.table-head{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #dee2e6;
  padding: .75rem;
  font-weight: 600;
}
.table-title {
  border-top: none;
  color: #9a9a9a;
}
.table-body {

  .list-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 .75rem;

    &:hover{
      background-color: rgba(0, 0, 0, 0.075);
    }
  }
  .list-view{
    border-bottom: 1px solid #dee2e6;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:last-child {
          border: none;
    }
  }
}
.table-item {
  padding: 0.75rem;
}
