<main class="page-container">
	<div class="container">
		<div class="card card--adult-intake">
			<div class="card--header">
				<h4 class="header--title">Add User</h4>
			</div>
			<div class="card--content">
        {{forms/add-user-form user=model errorMessage=errorMessage}}
			</div>
			<div class="card--footer">

			</div>
		</div>
	</div>
</main>
