<main class="page-container">
  <div class="container-fluid">
    <div class="dashboard-card card">
      <div class="card--header">
        <span class="profile-id">ID: {{model.id}}</span>
        <h4 class="header--title">
        	Editing Details for - {{model.person.lastName}}, {{model.person.firstName}}
        </h4>
      </div>
      <div class="card--content">
				{{edit-user user=model}}
      </div>
      <div class="card--footer">

      </div>
    </div>
  </div>
</main>
