<main class="page-container">
  <div class="container-fluid">
    <div class="dashboard-card card">
      <div class="card--header">
        <h4 class="header--title">
        	Editing Details for - {{model.person.lastName}}, {{model.person.firstName}},
					ID: {{model.id}}
        </h4>
      </div>
      <div class="card--content">
				{{edit-user user=model}}
      </div>
      <div class="card--footer">

      </div>
    </div>
  </div>
</main>
