<main class="page-container">
	<div class="page-card">
		<div class="page-card--header">
			<h4 class="header--title">All Patients</h4>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					{{#list-filter
							filter=(action 'filterByName') as |filteredResults|}}
							<div class="table-responsive">
								<div class="list-table">
									<div class="table-head">
										<div class="col-1 table-title">ID</div>
										<div class="col table-title">Name</div>
										<div class="col table-title">Password Created At</div>
										<div class="col-1 table-title">Age</div>
										<div class="col-2 table-title">Actions</div>
									</div>
									<div class="table-body">
										
									</div>
								</div>
							</div>
					{{/list-filter}}
				</div>
			</div>
		</div>
		<div class="card--footer">

		</div>
	</div>
</main>
