<main class="page-container">
  <div class="container-fluid">
    <div class="dashboard-card card">
      <div class="card--header">
        <h4 class="header--title">User</h4>
      </div>
      <div class="card--content">
				{{user-detail person=model}}
      </div>
      <div class="card--footer">

      </div>
    </div>
  </div>
</main>
