<main class="page-container">
	<div class="container">
		<div class="card card--shelter-intake">
			<div class="card--header">
				<h4 class="header--title">Shelter Intake Form</h4>
			</div>
			<div class="card--content">
				{{forms/shelter-intake-form shelter=model}}
			</div>
			<div class="card--footer">

			</div>
		</div>
	</div>
</main>
