<main class="page-container">
	<div class="container">
		<div class="card card--adult-intake">
			<div class="card--header">
				<h4 class="header--title">Veteran Resource Center</h4>
			</div>
			<div class="card--content">
				{{veteran-resource-form veteran=model}}
			</div>
			<div class="card--footer">

			</div>
		</div>
	</div>
</main>
